.v-grid {
	
}

.v-grid-body {
	background-color: #FFFFFF;
	position: relative;
}

.v-grid-header {
	border: 1px solid black;
}

.v-viewport {
	background-color: #FFFFFF;
}

.v-body-scrollpanel {
	border: 1px solid black;
}

.v-grid-row {
	position: relative;
}

.v-grid-row-odd {
	position: relative;
	background-color: #EFF0F1;
}

.v-grid-cell {
	height: 35px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.v-grid-cell:FOCUS {
	outline: medium none;
}

.v-grid-cell-wrapper {
	padding: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.v-cells-hidden > .v-grid-cell {
	visibility: hidden !important;
}  

.v-header-cell {
	display: inline-block;
}

.v-scroll-pane {
	background-color: green;
	position: relative;
	overflow: hidden;
}

.v-scrollbar-vertical {
	position: absolute;
	width: 10px;
	background-color: none;
	right: 0;
	top: 0;
	height: 100%;
}

.v-scrollbar-horizontal {
	position: absolute;
	height: 10px;
	width: 100%;
	background-color: none;
	bottom: 0;
	left: 0;
}

.v-scrollbar-vertical-drag {
	position: relative;
	width: 10px;
	background-color: black;
	right: 0;
}

.v-scrollbar-horizontal-drag {
	position: absolute;
	height: 10px;
	background-color: black;
	bottom: 0;
}

.v-scroll-pane-scrollbar-vertical-track {
	position: absolute;
	height: 100%;
	min-height: 10px;
	width: 10px;
	right: 0;
	top: 0;
	background-color: black;
	opacity: 0.4;	
}

.v-scroll-pane-scrollbar-horizontal-track {
	position: absolute;
	min-width: 10px;
	height: 10px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.4;	
}

.v-paging-bar {
	width: 100%;
	height: 35px;
	position: relative;
}

.v-paging-bar .v-control-wrapper {
	position: relative;
	padding: 5px;
	float: left;
}

.v-paging-bar .v-nextpage-button {
	float: left;
	position: relative;
}

.v-paging-bar .v-prevpage-button {
	float: left;
	position: relative;
	padding: 5px;
}

.v-paging-bar .v-page-indicator-textbox {
	padding: 5px;
	float: left;
	position: relative;
	margin-right: 5px;
	margin-left: 5px;
	width: 15px;
}

.v-paging-bar .v-paging-details {
	padding-top: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
}

